*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

  .success {
    background: green;
}

  .error {
    background: red;
}

#container{
    width: auto;
    max-width: 80%;
    margin: auto auto;

}
form,span{
    
    border: thin solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
input[type=button],input[type=text]{

    margin: 0.25rem;
}

h3,h4,h5,td{
    text-align: center;
}
/* #title{
    background: url(cf929df3b4640fa9e3893c370d8448cf0ffe7fbf-removebg-preview.png) no-repeat 20% center/15%,rgb(226, 217, 217);
    display: block;
    width: 100%;
    line-height: 60px;

    padding: 25px 0;
    color: red;
    font-weight: bolder;

} */
#titleBox{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    line-height: 60px;
    padding: 25px 0;
    background-color:floralwhite;
}
form>label,input,td,th{
    border-right: thin solid black;
    border-bottom: thin solid black;
    padding: 0.25rem;
    
}
form>input{
    border-radius: 5px;
    padding: 5px;
    
}
#submitBtn{
    grid-column: 1/3;
    border: none;
    font-size: 18px;
    background-color: #ddd;
    cursor: pointer;
    transition: all .3s;
}
#submitBtn:hover{
    background-color: rgb(78, 97, 77);
}
#bookList{
    width: 100%;
    grid-column: 1/3;
    
}

td img{
    width: 1rem;
    height: 1rem;
    margin: 0 0.25rem;
}
i{
    cursor: pointer;
}
i:hover{
    color: tomato;
}